
<div class="container">

  <div class="header">
    <div class="menu-icon">☰</div>
    <div class="title">Website todo</div>
  </div>

  <div class="card">
    <ul class="task-list">

      <li *ngFor="let task of tasks" [class.completed]="task.completed || false">

        <span class="circle" 
              [class.filled]="task.completed" 
              (click)="toggleComplete(task)">
        </span>

        <span [class.strike]="task.completed">{{ task.title }}</span>

        <span class="delete" (click)="deleteTask(task.id)">🗑️</span>
      </li>

    </ul>

    <input type="text" placeholder="Enter task" [(ngModel)]="newTaskTitle" class="input-box">

    <button class="new-task" (click)="addNewTask()">+ New task</button>

  </div>

</div>
